*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.top{
 margin: 40px 0px 0px 0px ;
display: flex;
justify-content: space-evenly ;
align-items: center ;
flex-direction: column;
background-color:tomato;
padding: 0px 0px 0px 10px;
height: 100px;
}

.gifs{
  height: 161px;
  width: 219px;
  padding: 35px 33px 30px 0px;
  margin: 25px 0px 0px 58px;
}
.outputs-div{
  margin: 0px 0px 0px 15px;
  padding:0px 0px 0px 0px;
}



/***********************************************
  $error page
***********************************************/
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .error__desc {
    text-align: center;
    font-size: 1.5em;
  }
  
  .error__msg {
    color: #999;
  }
  